*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* Le box-sizing: border-box diminu la taille du contenu pour s'adapter au wigth donne. alors que le content-box donne le wigth donne au contenu et pousse le margin, padding, border */
}

html{
    font-size: 10px;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
}